[Unit]
Description=Tell blogd to close log file
DefaultDependencies=no
After=blog-final.service
Before=local-fs.target
Wants=local-fs.target
RequiresMountsFor=/var/log/boot.old
ConditionPathIsReadWrite=/var/log/boot.old

[Service]
Type=oneshot
TimeoutSec=0
ExecStart=-/sbin/blogctl close

[Install]
WantedBy=halt.target
WantedBy=kexec.target
WantedBy=poweroff.target
WantedBy=reboot.target
