[Unit]
Description=Forward Password Requests to Blogd as a Plymouth agent
Documentation=http://www.freedesktop.org/wiki/Software/systemd/PasswordAgents
DefaultDependencies=no
Conflicts=shutdown.target
After=blog.service
Before=shutdown.target
ConditionKernelCommandLine=!blog.enable=0
ConditionPathExists=/run/blogd.pid

[Service]
ExecStart=/usr/bin/systemd-tty-ask-password-agent --watch --plymouth
